@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Raleway:ital,wght@0,400;1,300;1,400&display=swap');
@import 'color';

*{
  margin: 0;
}

body{
 font-family: 'Raleway', sans-serif;
}

#slider{
  height: 500px;
  border: 1px solid $dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1600px;
  margin: auto;
}

.subcontainer{
  width: 85%;
  margin: auto;
}

.slide-img{
  width: 100%;
  height: 275px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slide-img:hover{
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a{
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: $light;
}

.slide-img:hover a{
  opacity: 1;
  transform: scale(1);
}

.img-1{
  background-image: url('../styles/images/carousel-img1.jpeg');
}

.img-2{
  background-image: url('../styles/images/carousel-img2.jpeg');
}

.img-3{
  background-image: url('../styles/images/carousel-img3.jpeg');
}

.img-4{
  background-image: url('../styles/images/carousel-img4.jpeg');
}

.img-5{
  background-image: url('../styles/images/carousel-img5.jpeg');
}

h2 {
  font-family: 'Berkshire Swash';
  
}

@media(max-width:1600px){
  .container{
      width: 100%;
  }
}