@import 'header';
@import 'navbar';
@import 'carousel';

body {
    margin: 0;
    
}

.features {
    color: $dark;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter !important;
    color: inherit;
}

p.greetings {
    border: 1px solid red; 
    margin: 35px;
  }